!!!
%html
  %head
    %title= "Siri Humor - Funny things Siri says"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => "keywords", :content => "Siri, Humor, Funny"}
    
  %body
    = render :partial => 'layouts/topbar'
            
    .container
      #content= yield
      .push

    %footer
      %h2 
        Email your own screenshots as an attachment to 
        = mail_to Settings.attachment_email
      
